@using Momo.Common
@using Momo.Domain.Commands
@model AddShoppingListItemCommand
@{
    var routeData = Request.RequestContext.RouteData;
    ViewBag.Title = "{0}/{1} - Add".F(routeData.Values["username"], routeData.Values["shoppinglist"]);
}

<p>@Html.ActionLink((string)routeData.Values["username"], "Index", "ShoppingLists"): @Html.ActionLink((string)routeData.Values["shoppinglist"], "Show", "ShoppingLists"): <strong>add</strong></p>

@using (Html.BeginForm("Search", null, FormMethod.Post, new {id = "searchForm"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("username")
    @Html.Hidden("shoppinglist")
    <ol>
        <li>@Html.TextBox("name", null, new {autocomplete = "off"})</li>
    </ol>
    @Html.ValidationSummary()
}


<div class="row">
    <div class="span2">&nbsp;</div>
    <div class="span2">Qty</div>
    <div class="span6">Name</div>
    <div class="span2">Aisle</div>
</div>
<hr/>

<div id="noSearchResults" class="row" style="margin-bottom: 50px;">
    <div class="span2">&nbsp;</div>
    <div class="span10"><em>no results</em></div>
</div>

<div id="searchResultContainer" style="margin-bottom: 50px;"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "addItemFormTemplate", style = "display: none; margin: 15px 0;", @class = "not-on-list"}))
{
    <div class="row">
        <div class="span2">
            @Html.AntiForgeryToken()
            <input type="hidden" name="shoppingListId" value="@Model.ShoppingListId" />
            <input type="hidden" name="name" />
            <input type="submit" value="add" />
        </div>
        <div class="span2">
            <input type="number" name="quantity" style="width: 75%; max-width: 25px;" />
        </div>
        <div class="span6">
            <span name="name"></span>
            <span class="on-list-check">&#x2714;</span>
        </div>
        <div class="span2">
            <input type="number" name="aisle" style="width: 75%; max-width: 25px;" />
        </div>
    </div>
}

@section scripts
{
    <script>
        app.modules.addListItemIndex.init();
    </script>
}
