@using Momo.Domain.Commands
@model AddShoppingListItemCommand
@{
    var routeData = Request.RequestContext.RouteData;
    ViewBag.Title = string.Format("{0}/{1} - Add", routeData.Values["username"], routeData.Values["shoppinglist"]);
}

<p>@Html.ActionLink((string)routeData.Values["username"], "Index", "ShoppingLists"): @Html.ActionLink((string)routeData.Values["shoppinglist"], "Show", "ShoppingLists"): <strong>add</strong></p>

@using (Html.BeginForm("Search", null, FormMethod.Post, new { id = "searchForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("username")
    @Html.Hidden("shoppinglist")
    <div class="form-group">
        @Html.TextBox("name", null, new { autocomplete = "off", @class = "form-control" })
    </div>
    @Html.ValidationSummary()
}


<div class="row">
    <div class="col-2 col-lg-1">&nbsp;</div>
    <div class="col-2 col-lg-1 text-center">Qty</div>
    <div class="col">Name</div>
    <div class="col-2 col-lg-1 text-center">Aisle</div>
</div>
<hr />

<div id="noSearchResults" class="row" style="margin-bottom: 50px;">
    <div class="col-2">&nbsp;</div>
    <div class="col-10"><em>no results</em></div>
</div>

<div id="searchResultContainer" style="margin-bottom: 50px;"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "addItemFormTemplate", style = "display: none; margin: 15px 0;" }))
{
    <div class="row">
        <div class="col-2 col-lg-1">
            @Html.AntiForgeryToken()
            <input type="hidden" name="shoppingListId" value="@Model.ShoppingListId" />
            <input type="hidden" name="name" />
            <button type="submit" class="btn btn-sm btn-primary">add</button>
        </div>
        <div class="col-2 col-lg-1">
            <input type="number" name="quantity" class="form-control p-1" />
        </div>
        <div class="col">
            <span name="name"></span>
        </div>
        <div class="col-2 col-lg-1">
            <input type="number" name="aisle" class="form-control p-1" />
        </div>
    </div>
}

@section scripts
{
    <script>
        app.modules.addListItemIndex.init();
    </script>
}
