<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

        <title>@ViewBag.Title - @App["name"]</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body id="top">

        <div class="line bg-white">
            <header class="wrapper page-header">
                @Html.Partial("_Nav")
                <h2>@Html.ActionLink(@App["name"] as string, "Index", "Home")</h2>
            </header>
        </div>

        <div class="line bg-light">
            <div class="wrapper">
                <section>
                    @RenderBody()
                </section>
            </div>
        </div>

        <div id="nav_bottom" class="line bg-dark">
            <div class="wrapper">
                @Html.Partial("_Nav")
            </div>
        </div>

        <div class="line bg-darker">
            <footer class="wrapper">
                <p>&copy; @DateTime.Now.Year - @App["name"] | <a href="@App["versionUrl"]" target="_blank">Version @App["version"]</a></p>
                @Html.Partial("_LoginPartial")
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)

        <script type="text/javascript">
            $(function () {
                var width = $('<span>'),
                    height = $('<span>');

                $('<p>')
                    .append(width)
                    .append(' x ')
                    .append(height)
                    .appendTo($('footer'));

                function setSize() {
                    width.text($(window).width());
                    height.text($(document).height());
                }

                setSize();
                $(window).resize(setSize);
            });
        </script>
    </body>
</html>
