<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

        <title>@ViewBag.Title - @App["name"]</title>

        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body id="top">

        <div data-role="page" data-theme="d">
            <div data-role="header" data-theme="d">
                @{
                    var parts = Request.Url.AbsolutePath.Split('/');
                    parts = parts.Take(parts.Length - 1).ToArray();
                    if (parts.Length > 1)
                    {
                        <a href="@string.Join("/", parts)" data-icon="arrow-l" data-ajax="false" class="ui-btn-left">@(parts.Last())</a>
                    }
                }
                <h1>@ViewBag.Title</h1>
                <a href="@Url.Action("Index", "Home")" data-icon="home" data-iconpos="notext" data-ajax="false" class="ui-btn-right">Home</a>
            </div>
            <div data-role="content">
                @RenderBody()
            </div>
            <div data-role="footer" data-theme="d">
                <p>&copy; @DateTime.Now.Year - @App["name"] | <a href="@App["versionUrl"]" rel="external" target="_blank">Version @App["version"]</a></p>
                @Html.Partial("_LoginPartial")
                @if (Request.IsLocal) { <p class="screenSize" style="font-size: .85em;"></p> }
            </div>
        </div>

        @Scripts.Render("~/bundles/common")

        <script type="text/javascript">
            app.webroot = '@Url.Content("~/")';
        </script>

        @RenderSection("scripts", required: false)

    </body>
</html>
