@model ShoppingListsEditItemModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {data_ajax = "false"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ShoppingListId)
    @Html.HiddenFor(m => m.Id)

    <ol>
        <li>@Html.EditorFor(x => x.Name)</li>
        <li>@Html.EditorFor(x => x.Quantity)</li>
        <li>@Html.EditorFor(x => x.Aisle)</li>
        <li>@Html.EditorFor(x => x.Price)</li>
    </ol>

    <input type="submit" value="Save" />

    @Html.ValidationSummary()
}
