@model ShoppingListsIndexModel

@{
    ViewBag.Title = Request.RequestContext.RouteData.Values["username"];
    var addHtmlHelper = Html.HtmlHelperFor<ShoppingListsAddModel>();
}


@if (CurrentUser.IsRouteUsername())
{
    using (Html.BeginForm("add", null, FormMethod.Post, new { id = "addListForm" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @addHtmlHelper.TextBoxFor(m => m.Name, new { placeholder = "new list", @class = "form-control" })
        </div>
        @Html.ValidationSummary()
    }
}


<div id="myShoppingLists">
    <p id="noLists" style="@(Model.ShoppingLists.Length == 0 && Model.SharedLists.Length == 0 ? "" : "display: none;")">No shopping lists found</p>
    @foreach (var shoppingListModel in Model.ShoppingLists)
    {
        <p><a href="@shoppingListModel.Url">@shoppingListModel.Name</a></p>
    }
</div>


@if (Model.SharedLists.Length > 0)
{
    <div id="sharedShoppingLists">
        <p><strong>Shared Lists</strong></p>
        @foreach (var shoppingListModel in Model.SharedLists)
        {
            <p><a href="@shoppingListModel.Url">@shoppingListModel.Name</a></p>
        }
    </div>
}


@section scripts
{
    <script>
        app.modules.shoppingListsIndex.init();
    </script>
}
