@model ShoppingListsIndexModel

@{
    ViewBag.Title = Request.RequestContext.RouteData.Values["username"];
}

<ul data-role="listview" data-inset="true">
    @if (Model.ShoppingLists.Length == 0)
    {
        <li><em style="font-size: .85em;">No lists yet</em></li>
    }
    @foreach (var shoppingList in Model.ShoppingLists)
    {
        <li>@Html.ActionLink(@shoppingList.Name, "Show", new {shoppingList = shoppingList.Name}, new {data_ajax = "false"})</li>
    }
</ul>

@if (Model.SharedLists.Length > 0)
{
    <ul data-role="listview" data-inset="true">
        <li data-role="list-divider">Shared Lists</li>
        @foreach (var shoppingList in Model.SharedLists)
        {
            <li>@Html.ActionLink(shoppingList.UserProfile.Username + "/" + @shoppingList.Name, "Show", new {username = shoppingList.UserProfile.Username, shoppingList = shoppingList.Name}, new {data_ajax = "false"})</li>
        }
    </ul>
}

@section FooterBarButtons
{
    @if (CurrentUser.IsRouteUsername())
    {
        @Html.ActionLink("New List", "Add", null, new {data_role = "button", data_icon = "plus", data_mini = "true", data_inline = "true", data_iconpos = "notext"})
    }
}
