@model string[]

@{
    ViewBag.Title = "Share";
}

@using (Html.BeginForm("StartSharing", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("username")
    @Html.Hidden("shoppinglist")
    <div class="form-group">
        @Html.TextBox("shareWith", "", new { @class = "form-control", placeholder = "Username" })
    </div>
    <button type="submit" class="btn btn-secondary">Add</button>
}

<p style="margin-top: 50px;">Currently Shared With</p>
@if (Model.Length == 0)
{
    <p><em>Not being shared</em></p>
}

@foreach (var username in Model)
{
    using (Html.BeginForm("StopSharing", null))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("username")
        @Html.Hidden("shoppinglist")
        @Html.Hidden("shareWith", username)
        <div class="mobileAccessible">
            <button type="submit" class="btn btn-secondary btn-sm" style="margin-right: 25px;">Remove</button>
            @Html.ActionLink(username, "Index", "ShoppingLists", new { username }, null)
        </div>
    }
}
