@model string[]

@{
    ViewBag.Title = "Share";
}

@using (Html.BeginForm("StartSharing", null, FormMethod.Post, new {data_ajax = "false"}))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("username")
    @Html.Hidden("shoppinglist")
    <ol>
        <li>@Html.TextBox("shareWith", "", new {placeholder = "Username"})</li>
    </ol>
    <input type="submit" value="Add" />
}

<p style="margin-top: 50px;">Currently Shared With</p>
@if (Model.Length == 0)
{
    <p><em>Not being shared</em></p>
}

@foreach (var username in Model)
{
    using (Html.BeginForm("StopSharing", null))
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("username")
        @Html.Hidden("shoppinglist")
        @Html.Hidden("shareWith", username)
        <div class="mobileAccessible">
            <input type="submit" value="Remove" style="margin-right: 25px;" />
            @Html.ActionLink(username, "Index", "ShoppingLists", new {username}, null)
        </div>
    }
}
