@model PingIndexModel
@{
    ViewBag.Title = "Ping";
}

@section head {
    <style type="text/css">
        .errors { margin: 15px 0; }
        .errors label { font-weight: bold; }
        .errors div { margin-bottom: 10px; }
    </style>
}

@if (Model.LastError == null)
{
    <p>No Errors!</p>
    return;
}

<div class="errors">
    @Html.LabelFor(m => m.LastError.Id)
    <div>@Model.LastError.Id</div>

    @Html.LabelFor(m => m.LastError.Date)
    <div>@Model.LastError.Date.ToString()</div>

    @Html.LabelFor(m => m.LastError.Level)
    <div>@Model.LastError.Level</div>

    @Html.LabelFor(m => m.LastError.Logger)
    <div>@Model.LastError.Logger</div>

    @Html.LabelFor(m => m.LastError.Thread)
    <div>@Model.LastError.Thread</div>

    @Html.LabelFor(m => m.LastError.Username)
    <div>@Model.LastError.Username</div>

    @Html.LabelFor(m => m.LastError.Message)
    <div style="white-space: pre-wrap;">@Model.LastError.Message</div>

    @Html.LabelFor(m => m.LastError.Exception)
    <textarea style="white-space: pre; width: 100%;" rows="10">@Model.LastError.Exception</textarea>
</div>
