@model LocalPasswordModel

<p>To change your password:</p>

@using (Html.BeginForm("Manage", "Account"))
{
    @Html.AntiForgeryToken()

    <ol>
        <li>@Html.EditorFor(m => m.OldPassword)</li>
        <li>@Html.EditorFor(m => m.NewPassword)</li>
        <li>@Html.EditorFor(m => m.ConfirmPassword)</li>
    </ol>

    <input type="submit" value="Change password" />

    @Html.ValidationSummary()
}
