@model ExternalLogin[]

@if (Model.Length > 0)
{
    <h3>Registered external logins</h3>
    <table>
        <tbody>
            @foreach (var externalLogin in Model)
            {
                <tr>
                    <td>@externalLogin.ProviderDisplayName</td>
                    <td>
                        @if (ViewBag.ShowRemoveButton)
                        {
                            using (Html.BeginForm("Disassociate", "Account"))
                            {
                                @Html.AntiForgeryToken()
                                @Html.Hidden("provider", externalLogin.Provider)
                                @Html.Hidden("providerUserId", externalLogin.ProviderUserId)
                                <button type="submit" class="btn btn-sm btn-secondary" title="Remove this @externalLogin.ProviderDisplayName credential from your account">Remove</button>
                            }
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
