@model RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<p>
    You've successfully authenticated with <strong>@ViewBag.ProviderDisplayName</strong>.
    Please enter a username for this site below and click the Confirm button to finish
    signing in.
</p>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {data_ajax = "false"}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ExternalLoginData)

    <ol>
        <li>@Html.EditorFor(m => m.Username)</li>
    </ol>

    <input type="submit" value="Register" />

    @Html.ValidationSummary(true)
}
