@model LoginModel

@{
    ViewBag.Title = "Sign in";
}

<div>
    <h2>Use an external account</h2>
    @Html.Action("ExternalLoginsList", new { ViewBag.ReturnUrl })
    <p>Keep the number of usernames and passwords you have to remember to a minimum!</p>
</div>

<div>
    <h2>Use a local account</h2>

    @using (Html.BeginForm(new { ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">@Html.EditorFor(m => m.Username)</div>
        <div class="form-group">@Html.EditorFor(m => m.Password)</div>
        <div class="form-group">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>

        @Html.ValidationSummary(true)
    }

    <div class="mt-4">
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </div>
</div>
