@model LoginModel

@{
    ViewBag.Title = "Log in";
}

<h1>Sign In</h1>


<div class="line">
    <h2>Use an external account</h2>
    @Html.Action("ExternalLoginsList", new {ViewBag.ReturnUrl })
    <p>Keep the number of usernames and passwords you have to remember to a minimum!</p>
</div>


<div class="line spaced">
    <h2>Use a local account</h2>
    @using (Html.BeginForm(new {ViewBag.ReturnUrl}))
    {
        @Html.AntiForgeryToken()

        <ol>
            <li>@Html.EditorFor(m => m.UserName)</li>
            <li>@Html.EditorFor(m => m.Password)</li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new {@class = "checkbox"})
            </li>
        </ol>

        <input type="submit" value="Log in" />

        @Html.ValidationSummary(true)

        <p>
            @Html.ActionLink("Register", "Register") if you don't have an account.
        </p>
    }
</div>
