@model LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<p>@ViewBag.StatusMessage</p>

<div class="row">
    @using (Html.BeginForm("LogOff", "Account"))
    {
        @Html.AntiForgeryToken()
        <p>You're signed in as <strong>@User.Identity.Name</strong>. <input type="submit" value="Sign Out"/></p>
    }

    @(ViewBag.HasLocalPassword ? Html.Partial("_ChangePasswordPartial") : Html.Partial("_SetPasswordPartial"))
</div>


<div class="row spaced">
    @Html.Action("RemoveExternalLogins")
</div>


<div class="row spaced">
    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new {ViewBag.ReturnUrl })
</div>
