@model RegisterModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new {data_ajax = "false"}))
{
    @Html.AntiForgeryToken()

    <ol>
        <li>@Html.EditorFor(m => m.Username)</li>
        <li>@Html.EditorFor(m => m.Password)</li>
        <li>@Html.EditorFor(m => m.ConfirmPassword)</li>
    </ol>

    <input type="submit" value="Register" />

    @Html.ValidationSummary()
}
