@model RegisterModel

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <ol>
        <li>@Html.EditorFor(m => m.UserName)</li>
        <li>@Html.EditorFor(m => m.Password)</li>
        <li>@Html.EditorFor(m => m.ConfirmPassword)</li>
    </ol>

    <input type="submit" value="Register" />

    @Html.ValidationSummary()
}
